:root {
	--DOM-color     : #1a2238;
	--Id1-color     : #f4db7d;
	--Id2-color     : #9daaf2;
	--Id3-color     : #ff6a3d;
	--Id1           : "\\"   ;
	--Is1           : ""     ;
	--Id2           : "["    ;
	--Is2           : "]"    ;
	--Id3           : "{"    ;
	--Is3           : "}"    ;
}

* {
	padding         : 0px;
	margin          : 0px;
}

html {
	font-size       : calc(1em + 1vw);
	width           : 95vw;
	height          : 95vh;
	padding         : 0px;
	margin          : 0px;
}

body {
	width           : inherit;
	height          : inherit;
	background-color: var(--DOM-color);
}

html, body {
	overflow: hidden;
}

h2 * {
	background-color: var(--DOM-color);
}

h1, h2 {
	font-size       : 3em;
	display         : flex;
	flex-flow       : row;
	flex-wrap       : wrap;
	max-width       : 75vw;
}

button, input {
	font-size       : 1ch;
}

div.containing-centre {
	width: inherit;
	height: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
div.containing-centre::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div.containing-centre {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

input[type=file]{
 display: none;
}

span.Id1 {
 color: var(--Id1-color);
}

span.Id2 {
 color: var(--Id2-color);
}

span.Id3 {
 color: var(--Id3-color);
}

input[type="search"], option {
	color: white;
	background-color: var(--DOM-color);
	border: none;
	text-align: left;
	font-family: monospace;
	line-height: 1ex;
	max-width: 95vw;
	width: 1ch;
	outline: none;
}

input[type="file"] {
	visibility:hidden;
}

label[for="file"] {
	color:white;
}

label[for="Id1"]:before {
	content: var(--Id1);
}

label[for=Id1]:after {
	content: var(--Is1);
}

label[for="Id2"]:before {
	content: var(--Id2);
}

label[for="Id2"]:after {
	content: var(--Is2);
}

label[for="Id3"]:before {
	content : var(--Id3);
}

label[for="Id3"]:after {
	content: var(--Is3);
}

label[for="Id1"] {
	background-color: var(--Id1-color);
	color: var(--Id1-color);
}

label:nth-child(1) > input[type=search] {
	color: var(--Id1-color);
}

label[for="Id2"] {
	background-color: var(--Id2-color);
	color: var(--Id2-color);
}

label[for="Id2"] > input[type=search] {
	color: var(--Id2-color);
}

label[for="Id3"] {
	background-color: var(--Id3-color);
	color: var(--Id3-color);
}

label[for="Id3"] > input[type=search] {
	color: var(--Id3-color);
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-calendar-picker-indicator {
  display: none;
	-webkit-appearance: none;
}

label:hover {
	color: var(--DOM-color);
}

label[for="math"] {
	background-color: var(--DOM-color);
}

input.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div#lists {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	max-height: 100%;
	background-color: white;
}

div#list1, div#list2, div#list3 {
	position: 
	color: var(--DOM-color);
 width: 25vw;
	background-color: white;
}

#list1 > div, #list2 > div, #list3 > div {
	background-color: white;
}

p {
 border-top: 2px dashed;
 border-color: var(--DOM-color) !important;
 margin:0; padding: 30px;
 counter-increment: section;
 position: relative;
	font-family: fantasy;
	font-size: 70%;
	word-break: break-all;
	word-wrap: break-word;
	background-color: white;
}

p:nth-child(even):before {
 content: counter(section);
 right: 100%; 
 margin-right: -20px;
 position: absolute;
 border-radius: 50%;
 padding: 10px;
 height: 20px;
 width: 30px;
 background-color: var(--DOM-color);
 text-align:center;
 color: white;
 white-space: nowrap;
 overflow: hidden;
	text-overflow: ellipsis;
}

p:nth-child(odd):before {
 content: counter(section);
 left: 100%; 
 margin-left: -20px;
 position: absolute;
 border-radius: 50%;
 padding: 10px;
 height: 20px;
 width: 30px;
 background-color: var(--DOM-color);
 text-align:center;
 color: white;
 white-space: nowrap;
 overflow: hidden;
	text-overflow: ellipsis;
}

p:nth-child(even) {
 border-left: 2px dashed;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 margin-right: 30px; 
 padding-right: 0;
}

p:nth-child(odd) {
 border-right: 2px dashed;
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
 margin-left: 30px; 
 padding-left: 0;
}

p:first-child {
 border-top: 0;
 border-top-right-radius:0;
 border-top-left-radius:0;
}

p:last-child {
 border-bottom-right-radius:0;
 border-bottom-left-radius:0;
}

div#list1 p:nth-child(odd):before {
	background-color: var(--Id1-color);
}

div#list1 p:nth-child(even):before {
	background-color: var(--Id1-color);
}

div#list2 p:nth-child(odd):before {
	background-color: var(--Id2-color);
}

div#list2 p:nth-child(even):before {
	background-color: var(--Id2-color);
}

div#list3 p:nth-child(odd):before {
	background-color: var(--Id3-color);
}

div#list3 p:nth-child(even):before {
	background-color: var(--Id3-color);
}
